<!DOCTYPE html>
<html>
<head>
<title>HOME</title>
<link rel="stylesheet" type="text/css" href="adminhome.css">
</head>
<body>
	<!-- <h1>Thank You for Registration</h1> -->
	<h1>TuneHub</h1>

	<h3>NOW YOU ARE IN ADMIN HOME PAGE</h3>
	<form action="newsong">
		<input type="submit" value="ADD SONGS">
	</form>

	<br>
	<br>
	<form action="viewsongs">
		<input type="submit" value="VIEW SONGS">
	</form>

	<br>
	<br>
	<form action="createplaylists">
		<input type="submit" value="CREATE PLAYLIST">
	</form>

	<br>
	<br>
	<form action="viewplaylists">
		<input type="submit" value="VIEW PLAYLISTS">
	</form>

</body>
</html>